@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes Button {
  0% {
    position: relative;
    left: -50px;
    opacity: 0;
  }
  100% {
    position: relative;
    left: 0;
    opacity: 1;
  }
}

#routeButton,
#stopButton {
  animation: Button 0.6s ease-in;
}

#stopButton {
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.expanded {
  max-height: 500px; /* Set the desired expanded max-height */
}
